
h5 {
    color: rgb(121, 17, 69);
    font-size: 54px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}